<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puzzle.languine">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.puzzle.languine.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.puzzle.languine.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.puzzle.languine.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:parentActivityName="com.puzzle.languine.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.puzzle.languine.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name="com.puzzle.languine.ResultActivity"
            android:label="@string/title_activity_review"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.puzzle.languine.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.puzzle.languine.ui.activity.LanguageSelectActivity"
            android:label="@string/title_activity_language_select"
            android:parentActivityName="com.puzzle.languine.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.puzzle.languine.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.puzzle.languine.ui.activity.GlossaryActivity"
            android:label="@string/title_activity_glossary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VideoActivity"
            android:label="@string/title_activity_get_started"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ExerciseMenuActivity"
            android:label="@string/title_activity_experiment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.puzzle.languine.Vocabulario"
            android:label="@string/title_activity_vocabulario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RevisionVideosActivity"
            android:label="@string/title_activity_revision_videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.puzzle.languine.RevisionVideoView"
            android:label="@string/title_activity_revision_video_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.puzzle.languine.Welcome"></activity>
        
        <activity android:name=".ui.activity.ResourcesActivity" />
        <activity android:name="com.puzzle.languine.LaHora" />
        <activity android:name="com.puzzle.languine.LosDias" />
        <activity android:name="com.puzzle.languine.Alphabeto" />
        <activity android:name="com.puzzle.languine.Numeros" />
        <activity android:name="com.puzzle.languine.SpaMex" />
        <activity android:name="com.puzzle.languine.ElCalendario" />
        <activity android:name="com.puzzle.languine.Festividades" />
        <activity android:name="com.puzzle.languine.Estaciones"></activity>
    </application>

</manifest>
